* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 20px; /* Decreased font size for "Weather Information" */
    margin-bottom: 15px; /* Adjusted margin for better spacing */
    font-weight: 500; /* Optional: Slightly lighter font weight */
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 8px 20px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.search input:focus {
    background: #d1f7f0;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search button:hover {
    background: #d1f7f0;
}

.search button img {
    width: 14px; /* Further decreased size of the search icon */
}

.weatherIcon {
    width: 150px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 10px;
}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.col p {
    font-size: 18px;
    margin: 0;
}

.col .humidity, .col .wind {
    font-size: 24px;
    font-weight: 500;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}